
     *{
            background-color: black;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0px;
        }
        header{
            display: flex;
            justify-content: space-between;
            height: 90px;
            font-weight: 100;
            margin: 0px 0px;
            background-color: black;
            position: sticky;
        }
        .navbar{
            display: inline-block;
            position: absolute;
            right: 70px;
            text-decoration: none;
            background-color: black;
        }
        .navbar li {
            float: right;
            padding: 0px 30px;
            margin-top: 34px;
            list-style: none;
            color: white;
            background-color: black;
            transition: all 0.5s ease-out;
        }
        .navbar li a {
            text-decoration: none;
            color: white;
            background-color: black;
        }
        .img1{
            height: 50px;
            width: 50px;
            position: absolute;
            left: 30px;
            margin-top: 10px;
        }
        .name{
            position: absolute;
            top: 60px;
            text-align: center;
            color: white;
            margin-top: 10px;
            background-color: black;
            
        }
        .navbar li:hover{
            
            border-bottom: 2px solid white;
            border-radius: 25px;
            height: 30px;
            font-size: large;
        }
        .main{
            position: relative;
            height: 100vh;
            z-index: 1;
            background-color: black;
        }
        video{    
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
        hr{
            color: white;
        }
        .navbar li:hover{
            
            border-bottom: 2px solid white;
            border-radius: 25px;
            height: 30px;
            font-size: large;
        }
        .btn{
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-content: space-evenly;
            background: transparent;
            
        }
        .btn button{
            background: transparent;
            width: 100px;
            margin-top: 20px;
            color: white;
            border-radius: 50px;
            height: 30px;
            transition: all 0.5s ease-out;
            border: none;
        }
        .btn button:hover{
            cursor: pointer;
            background-color: black;
            color: white;
            height: 40px;
            border-bottom: 2px solid white;
            border-radius: 25px;
        }
        .dropdown1{
            position: absolute;
            left: 960px;
            height: 400px;
            top: 0px;
            background-color: black;
            display: none;
        }
        form{
            background-color: black;
            width: 200px;
            margin: 10px;
        }
        form label{
            background: transparent;
            color: white;
           margin-top: 10px;
        }
        form input{
            background: transparent;
            color: white;
            border: none;
            padding: 3px 0px;
            margin-top: 10px;
            width: 200px;
            transition: all 1s ease-out;
        }
        form button{
            margin-top: 15px;
            float: right;
        }
        form input:hover{
            background: transparent;
            color: white;
            border: none;
            border-bottom: 1px solid white;
            padding: 10px 0px;
            border-radius: 25px;
        }
        form button{
            background: transparent;
            width: 100px;
            margin-top: 20px;
            color: white;
            border-radius: 50px;
            height: 30px;
            transition: all 0.5s ease-out;
            border: none;
        }
        form button:hover{
            cursor: pointer;
            background-color: black;
            color: white;
            height: 40px;
            border-bottom: 2px solid white;
            border-radius: 25px;
        }
        .text p{
            text-align: center;
            color: white;
            background-color: black;
            margin-top: 50px;
            font-size: small;
            width: 230px;
        }
        .dropdown2{
            display: none;
            position: absolute;
            height: 400px;
            top: 0px;
            left: 725px;
            background-color: black;
            z-index: 2;
            width: 400px;
        }
       .dropdown2 img{
        border: none;
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px 0px;
        border-radius: 50px;
        transition: all 0.5 ease-in-out;
       }
       .dropdown2 .boxes{
        background-color: black;
       }
       .dropdown2 .d1 {
              display: flex;
              justify-content: center;
              position: absolute;
              left: 150px;
              top: 20px;
              width: 200px;
              font-size: 15px;
              background: transparent;
              color: white;
              border: none;
              transition: all 0.5s ease-out;
       }
       .d1 > p{
        position: absolute;
        top: 15px;
        display: block;
        width: 250px;
        background-color: transparent;
        border: none;
        transition: all 0.5s ease-out;
       }
       .d1 > h5{
        position: absolute;
        top:0px;
        display: block;
        text-align: center;
        background: transparent;
        font-size: large;
       }
       .dropdown2 .d2{
        display: flex;
              justify-content: center;
              position: absolute;
              left: 150px;
              top: 110px;
              width: 200px;
              font-size: 15px;
              background: transparent;
              color: white;
             
       }
       .d2 > p{
        position: absolute;
        top: 40px;
        display: block;
        width: 250px;
        background-color: transparent;
        border: none;
        transition: all 0.5s ease-out;
       }
       .d2 > h5{
        display: block;
        text-align: center;
        background: transparent;
        font-size: large;
       }
       .dropdown2 .d3{
        display: flex;
              justify-content: center;
              position: absolute;
              left: 150px;
              top: 250px;
              width: 200px;
              font-size: 15px;
              background: transparent;
              color: white;
              border: none;
              transition: all 0.5s ease-out;
       }
       .d3 > p{
        position: absolute;
        top: 50px;
        display: block;
        width: 250px;
        background-color: transparent;
        border: none;
        transition: all 0.5s ease-out;
       }
       .d3 > h5{
        display: block;
        text-align: center;
        background: transparent;
        font-size: large;
       }
       .boxes img:hover{
        border-bottom: 2px solid white;
        border-radius: 80px;
       }
       .details .d1 .d2 .d3 > p:hover{
        border-bottom: 2px solid white;
        border-radius: 25px;
       }
       .dropdown3{
        position: absolute;
            left: 1055px;
            height: 400px;
            top: 0px;
            background-color: black;
            width: 200px;
            display: none;
       }
       .pimg img{
        width: 100px;
        position: absolute;
        left: 50px;
        top: 15px;
        border-radius: 50px;
        background-color: black !important;
       }
       .dropdown3 h2{
        background-color: black;
        color: white;
        font-size: small;
        position: absolute;
        top: 140px;
        left: 50px;
       }
       .Pl li{
        list-style: none;
        position: relative;
        top: 10px;
        left: -15px;
        padding: 10px 0px;
        border: none;
        transition: all 0,5 ease-in-out;
       }
       .Pl li{
        border: none;
        color: white;
        transition: all 0.5s ease-out;
       }
       .Pl li:hover{
    border-bottom: 2px  solid white;
    border-radius: 25px;
    height: 20px;
       }
       .about:active{
        border-bottom: 2px solid white;
            border-radius: 25px;
            height: 30px;
            font-size: large;
       }
       .About{
        height: 150vh;
       }
       .About h2{
        overflow: hidden;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50px;
            left: 870px;
            background-color: transparent;
            color: white;
            font-family: "Poetsen One", sans-serif;
            font-size: 50px;
            width: 700px;
       }
       .box p{
        text-decoration: none;
        padding: 10px 10px;
        margin: 10px 30px;
       }
        .more .box{
        width: 600px;
        margin-top: 10px;
        }
       .box h3{
        text-align: center;
        color: white;
       }
       .box p{
        color: white;
        width: 500px;
        font-size: 15px;
        padding: 5px;
       
       }
       .more{
        position: absolute;
        top: 90px;
        left: 330px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: transparent;
        
       }
       #box h3{
        position: relative;
       }
       #box4 p{
        position: relative;
        top:10px
       }